@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --------------------General */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

p {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

/* --------------------Heading */
.pageHeader,
.pageFooter {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.pageHeader {
    position: fixed;
    flex-direction: column;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.subTitle {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
}

/* --------------------Nav */
.menu {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 0 10px;
}

.menu li.active {
    text-decoration: underline;
}

.menu a {
    color: #fff;
}

/* --------------------Main Home Page */
.spacer {
    height: 120px;
    width: 100%;
    background-color: #000;
}

.heroImage {
    height: 35vh;
    background-image: url('../images/homebg.webp');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 115px;
    background-color: #000;
}

.heroImage.flex {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: fit-content;
    justify-content: space-evenly;
}

.aboutMe {
    background-color: #000;
    color: #fff;
}

.aboutWork {
    background-color: #fff;
    color: #000;
}

.aboutWork a {
    color: #000;
    text-decoration: underline;
}

section {
    padding: 20px;
    box-sizing: border-box;
}

section>h2 {
    width: fit-content;
    margin: 0 auto;
}

h2 i {
    padding-right: 10px;
}

.review,
.content {
    padding: 10px 20px;
}

.reviewContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewPhoto {
    width: 70px;
    height: 70px;
    min-width: 70px;
    border: 5px solid black;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
}

.reviewPhoto1 {
    background-image: url('../images/engagmentpencil.webp');
}

.reviewPhoto2 {
    background-image: url('../images/dogspaint.webp');
}

.reviewPhoto3 {
    background-image: url('../images/icarusdigital.webp');
}

.reviews {
    background-color: #fff;
    color: #000;
}

p.reviewComment {
    font-style: italic;
}

.stars {
    display: block;
    padding: 5px 0;
}

p.reviewName {
    font-weight: bold;
}

/* --------------------Gallery */
.pencilGallery,
.digitalGallery {
    background-color: #000;
    color: #fff;
    height: fit-content;
}

.paintGallery {
    background-color: #fff;
    color: #000;
    height: fit-content;
}

img {
    width: 100%;
    height: auto;
}

/* --------------------Contact */
.contactMe {
    background-color: #000;
    color: #fff;
}

.formContainer {
    background-color: #fff;
    color: #000;
}

.contactMe,
.formContainer {
    height: fit-content;
    padding: 20px;
}

form {
    padding: 0 20px;
}

label {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

input,
.input {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    margin: 5px 0 10px 0;
    border: 2px solid #000;
    border-radius: 5px;
}

textarea.input {
    height: 100px;
    font-family: 'Nunito', sans-serif;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

input.button {
    width: 40%;
}

input.reset {
    background-color: #000;
    color: #fff;
}

input.button:hover {
    background-color: #888;
}

/* --------------------Thank You Page */
.thankYou {
    background-color: #000;
    color: #fff;
}

.center {
    align-items: center;
}

.thankYou a {
    color: #fff;
    text-decoration: underline;
}

p a:visited {
    color: #aaa;
}

/* --------------------Footer */
.pageFooter {
    flex-direction: column;
    padding: 10px;
}

.infoContainer {
    margin: 5px;
    text-align: center;
}

.pageFooter svg {
    height: 30px;
    margin: 0 10px 0 10px;
    width: auto;
}

.pageFooter p {
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    text-align: center;
}

.social i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    vertical-align: bottom;
}

/* --------------------Media Queries */
@media(min-width: 576px) {

    .pageHeader {
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
    }

    .spacer {
        height: 88px;
    }

    .heroImage {
        height: 40vh;
        background-position: 0 88px;
    }

    .flex section, .formContainer {
        margin: 10px 20px;
        border-radius: 20px;
    }

    .reviewContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .review {
        width: 50%;
        box-sizing: border-box;
    }

    .formContainer form {
        max-width: 60%;
        margin: 0 auto;
    }

    .thankYou {
        width: 50%;
    }

    .pageFooter {
        flex-direction: row-reverse;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 992px) {

    .heroImage {
        height: 40vh;
        background-position: 0 88px;
        background-image: url(../images/homebglg2.webp);
    }

    .heroImage.flex {
        flex-direction: row;
        height: auto;
        justify-content: center;
    }

    .flex section, .formContainer {
        margin: 20px 10px;
    }

    .pencilGallery,
    .paintGallery,
    .digitalGallery {
        width: 33%;
    }

    .review {
        width: 33%;
    }

    .contactMe,
    .formContainer {
        width: 50%;
    }
}